@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Regular";
  src: local("Poppins-Regular"), url("./fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Medium";
  src: local("Poppins-Medium"), url("./fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "bold";
  src: local("Poppins-Bold"), url("./fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "PixelifySans-bold";
  src: local("PixelifySans-Bold"), url("./fonts/Pixelify_Sans/PixelifySans-SemiBold.ttf");
}
@font-face {
  font-family: "Filano";
  src: local("filano"), url("./fonts/Filano/filano.ttf");
}